* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #232323;
  align-items: center;
  color: white;
}

h1 {
  text-align: center;
}
